*
{
	font-family: "Arial";
}

:root {
	--body-color: #7514a6;
	--bg-color-fieldset: #7514a6;
	--bg-color-body: #ffffff;
	--bg-nav: #ffffff;
	--label: #ffffff;
	--color: #212121;
	--color-h1: #8bbf18;
	--color-border: #8bbf18;
	--bg-label: #ffffff;
	--color-input: #212121;
}

.dark-mode:root {
	--body-color: #deddda;
	--bg-color-fieldset: #3d3846;
	--bg-color-body: #212121;
	--bg-nav: #613583;
	--label: #8bbf18;
	--color: #ffffff;
	--color-h1: #613583;
	--color-border: #deddda;
	--bg-h1: #deddda;
	--bg-label: #613583;
	--color-input: #8bbf18;
}

.logo_modes{
	align-items: center;
}

body
{
	text-align: center;
	height: 100vh;
	background-color: var(--bg-color-body);
}

nav a
{
	color: var(--body-color);
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	transition: width easy-out 2s;
}

nav a:hover
{
	text-decoration: none;
	background-color: var(--body-color);
	padding: 2px 60px;
	border-radius: 12px;
	color: var(--bg-nav);
	width: 300px;
}

h1
{
	color: var(--color-h1);
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	padding: 5px;
	width: 400px;
	margin-top: 25px;
	border-left: 10px solid var(--color-h1);
	border-right: 10px solid var(--color-h1);
	border-top: 2px solid var(--color-border);
	border-bottom: 2px solid var(--color-border);
	border-radius: 10px;
	background-color: var(--bg-h1);
}

h1,
div#infoMessage,
fieldset,
table
{
	margin-left: auto;
	margin-right: auto;
}

div#infoMessage
{
	background-color: #ffcc00;
	width: 400px;
	border-radius: 5px;
	padding: 10px;
	color: #d40000;
	opacity: 0.8;
}

fieldset
{
	background-color: var(--bg-color-fieldset);
	width: 400px;
	text-align: left;
	border-radius: 5px;
	border: 0px;
}

legend
{
	background-color: var(--bg-color-fieldset);
	border-radius: 8px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: var(--label);
}

label
{
	color: #ffffff;
}

input,
select
{
	border: 1px solid var(--color);
	margin-bottom: 7px;
	background-color: var(--bg-label);
	color: var(--color-input);
	font-size: 14px;
	font-family: Helvetica; 
	font-weight: bold;
}

input[type=checkbox]
{
	width: 30px;
	height: 15px;
	appearance: none;
	background-color: #8d02ae;
	border-radius: 15px;
	box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	border: none;
	transition: .4s;
	position: relative;
	left: 8px;
	top: 0;
}

input[type=checkbox]:before
{
	content: "";
	width: 15px;
	height: 15px;
	background-color: #e6e6ff;
	border-radius: 15px;
	position: absolute;
	box-shadow: 0px 4px 8px 1px rgba(255, 255, 0, 0.25);
	transform: scale(1.1);
	top: 0;
	left: 0;
	transition: .4s;
	
}

input:checked[type=checkbox]
{
	background-color: #6eff1e;
}

input:checked[type=checkbox]:before
{
	left: 15px;
}

.material-symbols-outlined {
	color: var(--body-color);
	position: relative;
	top: 0;
	left: 8px;
	font-variation-settings:
	'wght' 100,
}


input[type=text]#nome,
input[type=text]#rua,
input[type=email]
{
	width: 95%;
}

input[type=tel]#telefoneCelularDDD,
input[type=tel]#telefoneFixoDDD,
input[type=tel]#telefoneDDD
{
	width: 30px;
}

input[type=tel]#telefoneCelularNumero,
input[type=tel]#telefoneFixoNumero,
input[type=tel]#telefoneNumero
{
	width: 90px;
}

input[type=button],
input[type=submit]
{
	background-color: #8bbf18;
	border-bottom: 3px solid #5b7b1d;
	border-top: 1px solid #5b7b1d;
	border-right: 1px solid #5b7b1d;
	border-left: 1px solid #5b7b1d;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 5px 8px;
}

input[type=button]:hover,
input[type=submit]:hover
{
	background-color: #a0de1c;
	border-bottom: 3px solid #8bbf18;
}

table
{
	background-color: #ffffff;
	font-size: 14px;
	border-spacing: 1px;
	border-collapse: separate;
}

th
{
	background-color: #5b7b1d;
	color: #ffffff;
	text-transform: uppercase;
	padding: 3px;
}

tr:nth-child(even)
{
	background-color: #f3e6f7;
}

tr:nth-child(odd)
{
	background-color: #ffffff;
}

td
{
	padding: 3px;
}




























